.tiffin{
    border: 2px dashed rgb(240, 75, 75);
    margin:0cap 15px;
    padding: 10px;
    border-radius: 18px;
}
.tiffin2{
    border: 1px dashed rgb(97, 74, 151);
    margin:15px;
    padding: 10px;
    border-radius: 18px;
}
#keyword{
    font-size: xx-large;
    font-weight: 900;
    font-style: italic;
    color:cornflowerblue
}